<footer>
    Created by Justin Hundley and Billy Panebianco
</footer>

<form class="lightbox" id="signup" ng-app="modal" ng-controller="RegisterCtrl" ng-submit="register()">
    <div class="lightbox-header">
        Sign Up
    </div>
    <div class="lightbox-error" ng-switch="error">
        {% for field in form %}
            <div ng-repeat="error in errors.{{field.name}}" ng-bind"error"></div>
        {% endfor %}
    </div>
    <div class="lightbox-content">
        <input id="signup-email" placeholder="Email" type="text" ng-model="email"/>
        <input id="signup-username" placeholder="Username" type="text" ng-model="username"/>
        <input id="signup-password" placeholder="Password" type="password" ng-model="password"/>
        <input id="signup-confirm-password" placeholder="Confirm password" type="password" ng-model="confirm"/> 
        <input class="lightbox-button" type="submit" value="Go" ng-disabled="working"/>
        <div class="lightbox-bottom-link">
            <a href="#signin" rel="leanModal" class="lightbox-bottom-link" id="signup-bottom">
                Already have an account?
            </a>
        </div>
    </div>
</form>