<header>
    <nav>
        <a href="/">
            <div class="logo">OpenCode</div>
        </a>
        <div class="actions">
            {% if user.is_authenticated %}
            <a href="/submit">
                <i class="add fa fa-plus"></i>
            </a>
            {% else %}
            <a href="#signin" rel="leanModal">
                <i class="add fa fa-plus"></i>
            </a>
            {% endif %}
            <a href="/search">
                <i class="search fa fa-search"></i>
            </a>
            {% if user.is_authenticated %}
            <div class="submenu">
                <a href="#">
                    <i class="account fa fa-user"></i>
                </a>
                <ul>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
            </div>
            {% else %}
            <a href="#signup" rel="leanModal">
                <i class="account fa fa-sign-in"></i>
            </a>
            {% endif %}
        </div>
    </nav>
</header>