{% extends "openapp/base.html" %}
{% block content %}
    <h1>Welcome to OpenCode</h1>
    <div class="info-box">
        OpenCode is a central location for all open-source projects on the web.  We provide a clean and intuitive interface for managing your open-source project, including a feedback system, ratings, discussion threads, and more.  We are not a place to actively develop and manage version control of your project, but rather to assist with giving your project a personal home.  This allows for better discovery and interaction with your project!  Click the "Add" button in the navigation bar to setup your own OpenCode project page or use our search feature to find the perfect open-source project for your needs.
    </div>
    <div class="info-box">
        <h3>Search for Code</h3>
        <form method="get" action="/search">
            {{ search_form.models.0 }} Snippets
            {{ search_form.models.1 }}<br/>
            {{ search_form.language }}
            {{ search_form.q }}      
            <input class="form-submit" type="submit" value="Search">
        </form>
    </div>
    <div class="recent">
    {% if code_snippets %}
        <div class="info-box half half-left">
            <h3>Recently Submitted Code Snippets</h3>
        {% for code_snippet in code_snippets %}
            <div class="project">
                <a href="{% url "code" code_snippet.id %}">{{code_snippet.name}}</a>
                <div class="project-lang-sm">
                    {{code_snippet.language}}
                </div>
                <br/>
                Rating: {{ code_snippet.rating }}<br/>
                {{ code_snippet.description|truncatechars:50}}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if projects %}
        <div class="info-box half half-right">
            <h3>Recently Submitted Projects</h3>
        {% for project in projects %}
            <div class="project">
                <a href="{% url "project" project.id %}">{{project.name}}</a>
                <div class="project-lang-sm">
                    {{project.language}}
                </div>
                <br/>
                Rating: {{ project.rating }}<br/>
                {{ project.description|truncatechars:50}}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}