{% extends "openapp/base.html" %}

{% block content %}
<div class="project">
    <div class="project-rating">
        <div class="rating-value">{{project.rating}}</div>
        <div class="rating-options">
            <div class="rating-up">&#x25B2;</div><div class="rating-down">&#x25BC;</div>
        </div>
    </div>
    <div class="project-title h1">
        {{project.name}}
    </div>
    <div class="project-authors h4">
        Author: {% for user in project.users.all %}{{ user }}{% endfor %}
    </div>
    <div class="project-lang">
        {{project.language}}
    </div>
    <div class="project-dates">
        Created on: {{project.created}}<br/>
        Edited last: {{project.edited}}
    <div class="project-description">
        {{project.description}}
    </div>
</div>
{% endblock %}