.project {
    background: $white;
    padding: 25px;
    @include border-radius(5px);

    h2 {
        display: inline;
    }

    .project-headline, .project-main {
        padding-bottom: 15px;
        border-bottom: 1px solid $lt-gray;
    }

    .project-lang {
        display: inline-block;
        background: $md-gray;
        color: $lt-gray;
        display: inline-block;
        margin-top: 5px;
        padding: 5px;
        vertical-align: top;
        @include border-radius(5px);
    }

    .project-info {
        padding: 20px;
    }

    .project-info-box {
        background: $lt-gray;
        display: inline-block;
        padding: 10px;
    }

    .project-comments, .project-suggestions {
        margin-top: 15px;
    }

    .project-comment, .project-suggestion {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);
    }

    .tab {
        display: inline-block;
        margin-top: 10px;
        background: $lt-gray;
        padding: 5px;
        cursor: pointer;
        @include border-radius(5px);
    }

    .tab-active {
        background: $md-gray;
        color: $white;
    }

    .project-rating {
        float: right;
        width: 50px;
        height: 65px;

        .rating-value {
            text-align: center;
            margin-top: 5px;
            padding: 0px;
            background: $white;
            border: 1px solid $lt-gray;
            @include border-radius-top(5px);
        }

        .rating-options {
            text-align: center;
            font-size: 20px;
            background: $lt-gray;
            @include border-radius-bottom(5px);

            .rating-up, .rating-down {
                display: inline-block;
                cursor: pointer;
            }

            .rating-up {
                color: $lt-green;
            }

            .rating-down {
                color: $lt-red;
            }
        }
    }
}