.project {
    background: $white;
    padding: 30px;

    @include border-radius(5px);

    .project-lang {
        float: left;
        background: $md-gray;
        color: $lt-gray;
        display: inline-block;
        padding: 12px;
        margin-top: 5px;
        @include border-radius(5px);
    }

    .project-description {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);
    }
    
    .project-users-and-dates {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);
    }
    
    .project-comments {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);   
    }
    
    .project-individual_comment {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);   
    }
    
    .project-submit_comment {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);   
    }
    
    .project-feedback {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);   
    }
    
    .project-individual_feedback {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);   
    }
    
    .project-submit_feedback {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $lt-gray;
        @include border-radius(5px);   
    }

    .project-rating {
        float: right;
        width: 50px;
        height: 65px;

        .rating-value {
            text-align: center;
            margin-top: 5px;
            padding: 0px;
            background: $white;
            border: 1px solid $lt-gray;
            @include border-radius-top(5px);
        }

        .rating-options {
            text-align: center;
            font-size: 20px;
            background: $lt-gray;
            @include border-radius-bottom(5px);

            .rating-up, .rating-down {
                display: inline-block;
                cursor: pointer;
            }

            .rating-up {
                color: $lt-green;
            }

            .rating-down {
                color: $lt-red;
            }
        }
    }
}