//Responsive breakpoints
$tablet: 'only screen and (min-width: 801px)';
$desktop: 'only screen and (min-width: 1201px)';

//Colors
$site-bg: #E0FDFF;
$dk-gray: #181818;
$md-gray: #818181;
$lt-gray: #DDDDDD;
$white: #FFFFFF;
$lt-blue: #6BB0FF;
$lt-green: #27D36B;
$lt-red: #F55A5A;

//Animation duration
$duration: 0.2s;

//Mixins
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin button($color: $black) {
    @include transition(all, $duration, ease-in-out);
    @include border-radius(6px);

    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    text-align: center;
    border: 3px solid;
    color: #FFFFFF;
    background: $color;

    &:hover {
        background: lighten($color, 10%);
    }
    @media #{$tablet} {
        padding: 9px 19px;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//Typography
h1, h2, h3,
h4, h5, h6,
body, input,
button {
  font-family: "Helvetica", arial, sans-serif;
}
h1, .h1 {
  font-size: 32px;
  line-height: 40px;
  @media #{$tablet} {
    font-size: 48px;
    line-height: 56px;
  }
}
h2, .h2 {
  font-size: 28px;
  line-height: 35px;
  @media #{$tablet} {
    font-size: 36px;
    line-height: 45px;
  }
}
h3, .h3 {
    margin: 0;
  font-size: 24px;
  line-height: 30px;
  @media #{$tablet} {
    font-size: 28px;
    line-height: 35px;
  }
}
h4, .h4 {
  font-size: 20px;
  line-height: 25px;
  @media #{$tablet} {
    font-size: 24px;
    line-height: 30px;
  }
}
h5, .h5 {
  font-size: 18px;
  line-height: 23px;
  @media #{$tablet} {
    font-size: 20px;
    line-height: 25px;
  }
}
body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
p {
  margin: 10px 0;
}

a {
    text-decoration: none;
    @include transition(all, $duration, ease-in-out);
}

input[type="text"] {
    @include border-radius(5px);
    height: 20px;
    border: 1px solid $lt-gray;
    padding: 5px;
}

textarea {
    @include border-radius(5px);
    width: 300px;
    max-width: 100%;
    height: 100px;
    border: 1px solid $lt-gray;
    padding: 5px;
    resize: both;
}