//Global Styles
@import "_global";

//Global Components
@import "_header";
@import "_footer";

body {
    background: $site-bg;
}

.content {
    padding: 20px;
}

.info-box {
    @include border-radius(5px);
    background: $white;
    padding: 10px;
    margin-bottom: 15px;
}

//Forms
.form-title {
    margin-bottom: 10px;
}
.form-input, select {
    margin-bottom: 7px;
}
.form-submit {
    @include button($lt-blue);
}